<div class="panel panel-primary" *ngFor="let customer of customers; trackBy:trackByCustomerKey">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a [routerLink]="['./', customer.userName]">{{customer.firstName +' '+customer.lastName }}</a>
    </h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row vertical-align">
        <div class="col-xs-3">
          <img class="img-responsive img-circle" src="{{apiHost}}images/{{customer.avatar}}" />
        </div>
        <div class="col-xs-9">
          <div class="row">
            <div class="col-xs-6">Username</div>
            <div class="col-xs-6">: {{customer.userName}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6">First Name</div>
            <div class="col-xs-6">: {{customer.firstName}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6">Last Name</div>
            <div class="col-xs-6">: {{customer.lastName}}</div>
          </div>        
          <div class="row">
            <div class="col-xs-6">Email</div>
            <div class="col-xs-6">: {{customer.email}}</div> 
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>
